---
const res = await fetch("http://astro-wordpress.local/wp-json/wp/v2/posts")
const posts = await res.json()
---
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
</head>
<body>
	<div class="container max-w-xl mx-auto">
		<h1 class="text-3xl mt-5">My blog</h1>
		<ul>
			{posts.map((post => 
				
				<li class="mt-5">
				<a href={post.id}>
					<h2 class="font-bold" set:html={post.title.rendered} />
					<p class="text-sm text-gray-400">{post.date.substring(0, 10)}</p>
					<div set:html={post.excerpt.rendered} />
				</a>
			</li>
				))}
		</ul>
	</div>
</body>
</html>